aniso8601==3.0.2
APScheduler==3.5.1
arrow==0.12.1
boto3==1.7.56
botocore==1.10.56
certifi==2018.4.16
chardet==3.0.4
click==6.7
CouchDB==1.2
cssselect==1.0.3
cssutils==1.0.2
docutils==0.14
emails==0.5.15
Flask==1.0.2
Flask-RESTful==0.3.6
gevent==1.3.4
greenlet==0.4.13
gunicorn==19.9.0
idna==2.7
iso8601==0.1.12
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
jsonref==0.1
lxml==4.2.3
MarkupSafe==1.0
ocdsapi==0.2.2
ocdsmerge==0.4
PasteDeploy==1.5.2
premailer==3.2.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
repoze.lru==0.7
requests==2.19.1
s3transfer==0.1.13
six==1.11.0
tzlocal==1.5.1
urllib3==1.23
waitress==1.1.0
Werkzeug==0.14.1
zope.dottedname==4.2
